{
  "extends": "eslint-config-airbnb",
  "rules": {
    "no-console": "off",
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": [
      2,
      {
        "ignore": [
          "electron"
        ]
      }
    ],
    "linebreak-style": 0
  }
}
